$story-fonts: Helvetica, Arial, sans-serif;

/* user_stories.scss media queries */
.title {
	@media screen and (max-width: 555px){
		width: 100%;
		text-align: center
	}
	@media screen and (min-width: 556px){
		margin-left: 0.5em
	}
}

.title-image {
	@media screen and (max-width: 555px){
		margin-left: 45%
	}
}


#function-buttons {
	@media screen and (max-width: 767px){
		width: 100%;
		text-align: center
	}
}

/* user_stories.scss */

.user-story {
	font-family: $story-fonts;
	width: 80%;
	max-width: 40em;
	height: 20em;
	background-color: white;
	margin: auto;
    -webkit-box-shadow: 0.25px 2px 2px 3px #ccc;
    -moz-box-shadow: 0.25px 2px 2px 3px #ccc;
    box-shadow: 0.25px 2px 2px 3px #ccc;
    padding: 0.5em 0 0.5em 0;
    background-color: #66b2b2;
    margin-bottom: 4em
}

.user-story-container {
	width: 96.5%;
	background-color: white;
	margin: auto;
	height: 19.9em;
	border-radius: 0.75em;
	overflow: auto
}

.title-container {
	padding: 0 1.75em 0 1.75em;
	background-color: #fff6e5
}

.title-image {
	background-image: url("../images/idea.svg");
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.95em;
	display: inline-block
}

.title-line {
	border-top: 0.15em solid #DCDCDC
}

.story-body {
	padding: 0 1.75em 0 1.75em
}

.title {
	display: inline-block;
	font-weight: bold
}

.edit-title {
	display: none
}

.edit-title, .title {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 150%;
	margin-top: 0;
	margin-bottom: 0.75em;
	color: #66b2b2
}

.body-font {
	margin-bottom: 0;
	color: #72bcd4;
	font-weight: bold
}

.body-text, .edit-body-text {
	margin-top: 0.35em
}

.edit-body-text {
	display: none
}

.edit-title, .edit-body-text {
	padding-left: 0.3em;
	display: none;
	border: none;
	border: solid 0.05em;
	border-radius: 0.15em
}

.edit-title {
	width: 80%;
	max-width: 10em
}

.edit-body-text {
	width: 78%;
	max-width: 24em;
	height: 1.5em
}

#printing, #add-story {
	font-family: $story-fonts;
	font-weight: bold;
	display: inline-block;
	background-color: #008080;
	cursor: pointer;
	color: white;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	border-radius: 0.15em;
	padding: 0.7em 1em 0.7em 1em;
	margin: 0 0 2em 2%
}

#printing {
	margin-left: 1.25em
}

#story-print {
	margin-top: 1.5em
}

.editing, .deleting {
	cursor: pointer;
	border-radius: 0.2em;
	text-align: center;
	color: white;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none
}

.editing {
	padding: 0.4em 0.7em 0.4em 0.7em;
	background-color: #CCCC00
}

.deleting {
	padding: 0.4em 0.7em 0.4em 0.7em;
	background-color: #FF6666
}

.no-word-overflow {
	word-wrap: break-word	
}

.editing, .deleting {
	float: right;
	margin-right: 0.5em
}
